.left-container {
	width: 40%;
	float: left;
}

.right-container {
	width: 40%;
	float: right;
}

.form-button {
	width: 80%;
	margin: auto;
}

.header-title {
	color: white;
}

.header-title:hover {
	cursor: pointer;
}


hr {
	clear: both;
}

.section-title {
	float: right;
	color: #4C4C4C;
}


.flex-container {
	display: flex;
	justify-content: center;
}