.left-container {
	width: 40%;
	float: left;
}

.right-container {
	width: 40%;
	float: right;
}

.form-button {
	width: 80%;
	margin: auto;
}

.header-title {
	color: white;
}

.header-title:hover {
	cursor: pointer;
}


hr {
	clear: both;
}

.section-title {
	float: right;
	color: #4C4C4C;
}


.flex-container {
	display: flex;
	justify-content: center;
}

.flex-container {
	display: flex;
	justify-content: center;
}

/*Recipe Books Page*/
.recipeBookContainer {
	display: inline-block;
}

.recipeBookContainer:hover {
	cursor: pointer;
}

/*Book Page*/
.recipe-tab {
	width: 80%;
	padding: 20px;
	background: ghostwhite;
	box-shadow: 2px 2px lightgray;
	color: #4C4C4C;
	margin: auto;
}

.recipe-tab:hover {
	cursor: pointer;
}