body {
	background: #F2F3EF;
}

.left-container {
	width: 40%;
	float: left;
}

.right-container {
	width: 40%;
	float: right;
}

.form-button {
	width: 80%;
	margin: auto;
}

.half-hr {
	width: 40%;
}

.l-header-separated {
	padding-top: 20px;
}

.header-title {
	color: white;
}

.header-title:hover {
	cursor: pointer;
}


hr {
	clear: both;
}

.section-title {
	text-align: center;
	color: #4C4C4C;
}


.flex-container {
	display: flex;
	justify-content: center;
}

.flex-container {
	display: flex;
	justify-content: center;
}

/*Home*/
.title {
	display: inline-block;
}

h4 {
	margin-bottom: 5px;
}

.new-book {
	float: right;
}

#new-book-input {
	display: inline-block;
	margin: 0;
	width: 250px;
}

.add-button {
	display: inline-block;
}

.input-size {
	width: 62px;
	height: 62px;
}

/*Recipe Books Page*/
.recipeBookContainer {
	display: inline-block;
	margin: 10px;
}

.recipeBookContainer:hover {
	cursor: pointer;
}

/*.recipeBookContainer {
	background-color: lightgray;
}*/

.recipeBookText {
	padding: 5px;
	box-sizing: border-box;
}


/*Book Page*/
.recipe-tab {
	width: 80%;
	padding: 20px;
	background: #F2F3EF;
	box-shadow: 2px 2px lightgray;
	color: #4C4C4C;
	margin: auto;
	margin-bottom: 10px;
}

.section {
	margin-top: 10px;
	padding: 10px;
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}

.recipe-tab:hover {
	background: #B6E3F7;
	cursor: pointer;
}

/*New Recipe Page*/
#section-select {
	max-width: 40%;
}

#new-section-name-input {
	width: 250px;
}

.add-button-right {
	display: inline-block;
}

.section-h4 {
	display: inline-block;
	margin-bottom: 3px;
}

.item-input {
	width: 75% !important;
	margin: 2px !important;
	display: inline-block;
}

.item-button {
	display: inline-block;
}

/*Open Recipes Page*/
.open-recipes-container {
	min-width: 600px;
	height: 70vh;
	border: 1px solid gray;
}

.open-recipes-tab-container {
	width: 200px;
	height: 70vh;
	float: left;
	box-sizing: border-box;
	border-right: 1px solid gray;
	overflow: hidden;
	overflow-y: scroll;
}

.open-recipes-current-view {
	width: calc( 100% - 200px );
	height: 70vh;
	float: left;
	box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	overflow: hidden;
	overflow-y: scroll;
}

.stretch {
	clear: both;
}

.open-tab {
	padding: 2px;
	background-color: lightgray;
	box-sizing: border-box;
	border-bottom: 1px solid gray;
	text-align: center;
}

.open-tab:hover {
	cursor: pointer;
}

.open-tab-close {
	float: right;
	margin-right: 10px;
	font-weight: bold;
}

.open-tab-close:hover {
	color: red;
}

.open-tab-selected {
	background: skyblue;
}

.open-recipes-blank-container {
	text-align: center;
}


/*Landing Page*/
.image-carousel-container {
	width: 100%;
	overflow: hidden;
	height: 400px;
	position: relative;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	margin-bottom: 40px;
}

.image-carousel-image-wrapper {
	width: auto;
	height: 400px;
	margin: auto;
	text-align: center;
}

.image-carousel-selector-container {
	width: 100%;
	height: 30px;
	padding: 5px;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
}

.image-carousel-selector {
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #F2F3EF;
	width: 20px;
	height: 20px;
	margin: 0px 10px;
	background: black;
	opacity: 0.5;
	z-index: 3;
}

.image-carousel-selector:hover {
	border: 1px solid black;
	background: #F2F3EF;
}

.page-preview-container {
	border-radius: 50%;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 40px;
	box-sizing: border-box;
	position: relative;
	background: skyblue;
}

.page-preview-content {
	width: 200px;
	height: 200px;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

.page-preview-description {
	font-size: 24px;
	margin-top: 30px;
}

.page-preview-container:hover {
	cursor: pointer;
}

/*make styles mobile at 650px and lower*/