<div class='recipe-tab' ng-mouseover="hideActions = true" ng-mouseleave="hideActions = false">
    <h3 class='recipe-title' ng-click='openRecipe(recipe._id)'>{{recipe.name}}</h3>
    <div class='recipe-actions' ng-show='hideActions'>
        <button class='actionButton' ng-click="deleteRecipe(recipe._id)" title='Delete Recipe'><i class='fa fa-trash'></i></button>
        <button class='actionButton' ng-click='shareRecipe(recipe._id)' title='Share Recipe'><i class='fa fa-share'></i></button>
        <button class='actionButton' ng-click="editRecipe(recipe._id)" title='Edit Recipe'><i class='fa fa-pencil-square-o'></i></button>
    </div>
</div> 