<div class='pageTitle'>
    <h3>Edit Recipe</h3>
</div>
<div class='container'>
	<input type='text' placeholder="Recipe Name" ng-model="recipe.name"/>

	<select ng-options="section for section in recipeBook.sections" ng-model='recipe.recipeType'></select>
	<button ng-click="showNewSection = !showNewSection" ng-show='!showNewSection'>Add Section</button>
	<div ng-show="showNewSection">
		<input type="text" placeholder="new section name" ng-model="newSection"/>
		<button ng-click="addSection(newSection)">Add</button>
	</div>
	
	
	<h4 class='subclass'>Ingredients</h4>
		
	<div class='newListContainer'>
		<div ng-repeat="ingredient in recipe.ingredients track by $index">
			<input placeholder='new ingredient' type="text" ng-model="ingredient" ng-change="recipe.ingredients[$index] = ingredient"/>
			<button ng-click="removeIngredient($index)">Remove</button>
		</div>
		
		<button class='addButton' ng-click="addIngredient()">Add</button>
	</div>
	
	
	
	<h4 class='subclass'>Instructions</h4>
	
	<div class='newListContainer'>
		<div ng-repeat="instruction in recipe.instructions track by $index">
				<input placeholder='new instruction' type="text" ng-model="instruction" ng-change="recipe.instructions[$index] = instruction" />
				<button ng-click="removeInstruction($index)">Remove</button>
		</div>
		<button class='addButton' ng-click="addInstruction()">Add</button>
	</div>
	<button ng-click="saveRecipe(recipe)">Save Changes</button>
	<button ng-click="cancelEdit()">Cancel</button>
	<hr/>
	<h3>Preview</h3>
	<recipe editable='false' recipe='recipe' collapsible='false'></recipe>
	<button ng-click="saveRecipe()">Save Changes</button>
	<button ng-click="cancelEdit()">Cancel</button>
</div>