<div class='page-title'>
    <h3>Home</h3>
</div>

<h4>Recipe Inbox</h4><hr class='halfHr'/>
<br/>
<div ng-show="!hasMail">
	<p class='recipes-message'>No recipes to receive.</p>
</div>
<div ng-show="hasMail" class='flexContainer'>
	<shareable ng-repeat="mail in recipeMail"></shareable>
</div>


<h4 class='title'>Recipe Books </h4>
<div class='new-book'>
	<button ng-show="!showNewBook" class='add-button' ng-click="newRecipeBook()">New Book</button>
	<input ng-show="showNewBook" id='new-book-input' type='text' placeholder="name" ng-model="newBookName"/>
	<button ng-show="showNewBook" class='add-button input-size' ng-click="addNewBook()">+</button>
</div>

<hr class='halfHr'/>



<div class='flexContainer'>
	<recipe-book ng-repeat='book in books track by $index'></recipe-book>
</div>

