<image-carousel images='carouselImages'></image-carousel>
<div class='flex-container'>
	
	<!--Sign Up Bubble-->
	<div class='page-preview-container' ng-click='toPage("/login")'>
		<!--<img class='page-preview-image' width="200px" height="200px" ng-src='{{pic}}'/>-->
		<div class='page-preview-content'>
			<h4 class='page-preview-title'>Sign Up</h4>
			<p class='page-preview-description'><i class='fa fa-user-plus'></i></p>
		</div>
	</div>
	
	<!--Sign In Bubble-->
	<div class='page-preview-container' ng-click='toPage("/login")'>
		<!--<img class='page-preview-image' width="200px" height="200px" ng-src='{{pic}}'/>-->
		<div class='page-preview-content'>
			<h4 class='page-preview-title'>Sign In</h4>
			<p class='page-preview-description'><i class='fa fa-user'></i></p>
		</div>
	</div>
	
	
	
	
	
	<!--<page-preview 
		title='Signup' 
		desc='Get started saving and sharing your recipes today by signing up for a free account!'
		pic='images/forkandknife.png'
		ng-click='toPage("/login")'></page-preview>
	<page-preview 
		title='Login' 
		desc='Already a user? Login to access your account' 
		pic='images/forkandknife.png'
		ng-click="toPage('/login')"></page-preview>-->
</div>