<div class="bigPic"></div>
<!--<image-carousel images='carouselImages'></image-carousel>-->
<div class='flex-container'>
	
	<!--Sign Up Bubble-->
	<div class='pageBox signup' ng-click='toPage("/login")'>
		<div class="color signupColor"></div>
		<div class='pageBox-content'>
			<h4 class='page-preview-title'>Sign Up</h4>
			<p class='page-preview-description'><i class='fa fa-user-plus'></i></p>
		</div>
	</div>
	
	<!--Sign In Bubble-->
	<div class='pageBox signin' ng-click='toPage("/login")'>
		<div class="color signin-color"></div>
		<div class='pageBox-content'>
			<h4 class='page-preview-title'>Sign In</h4>
			<p class='page-preview-description'><i class='fa fa-user'></i></p>
		</div>
	</div>





	<!--<page-preview 
		title='Signup' 
		desc='Get started saving and sharing your recipes today by signing up for a free account!'
		pic='images/forkandknife.png'
		ng-click='toPage("/login")'></page-preview>
	<page-preview 
		title='Login' 
		desc='Already a user? Login to access your account' 
		pic='images/forkandknife.png'
		ng-click="toPage('/login')"></page-preview>-->
</div>