<div class='page-title'>
    <h3>New Recipe</h3>
</div>

<input type='text' placeholder="Recipe Name" ng-model="recipe.name"/><br/>

Section:<br/>
<select id='section-select' ng-options="section for section in recipeBook.sections" ng-model='recipe.recipeType'></select>
<button class='add-button' ng-click="showNewSection = !showNewSection">New Section</button>
<div ng-show="showNewSection">
	<input id='new-section-name-input' type="text" placeholder="new section name" ng-model="newSection"/>
	<button class='input-size' ng-click="addSection(newSection)">+</button>
	<button class='input-size' ng-click="showNewSection = false">-</button>
</div>
<div class='center'>
	<div class='section instructions-margin'>
		<div class='section-header'>
			<h4 class='section-h4'>Ingredients</h4>
			<button class='add-button-right' ng-click="addIngredient()">+</button>
		</div>
		<div class='item-container' ng-repeat="ingredient in recipe.ingredients track by $index">
			<input class='item-input' placeholder='new ingredient' type="text" ng-model="ingredient" ng-change="recipe.ingredients[$index] = ingredient"/>
			<button class='item-button input-size' ng-click="removeIngredient($index)"><i class='fa fa-times'></i></button>
		</div>
	</div>
	<br/>
	<div class='section'>
		<div class='section-header'>
			<h4 class='section-h4'>Instructions</h4>
			<button class='add-button-right' ng-click="addInstruction()">+</button>
		</div>
		<div class='item-container' ng-repeat="instruction in recipe.instructions track by $index">
			<input class='item-input' placeholder='new instruction' type="text" ng-model="instruction" ng-change="recipe.instructions[$index] = instruction"/>
			<button class='item-button input-size' ng-click="removeInstruction($index)"><i class='fa fa-times'></i></button>
		</div>
	</div>
</div>
<br/>
<button ng-click="saveRecipe()">Save</button>
<button ng-click="toHome()">Cancel</button>